[submodule "chia-blockchain-gui"]
	path = chia-blockchain-gui
	url = git@github.com:github.com/Chia-Network/chia-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = git@github.com:github.com/Chia-Network/mozilla-ca.git
        branch = main
