[submodule "chik-blockchain-gui"]
	path = chik-blockchain-gui
	url = https://github.com/Chik-Network/chik-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
        branch = main
